.wrapper {
    font-family: 'Roboto Condensed', sans-serif;
    display: grid;
    min-height: 100vh;
    grid-template-columns: 40px 1fr;
    grid-template-rows: 40px 1fr 40px;
    grid-template-areas: "head head"
    "sidebar main"
    "sidebar footer"
  }
  
.main {
    display: grid;
    grid-area: main;
    /* background-color: #2c3e50; */
}
  
.sidebar {
    display: grid;
    grid-area: sidebar;
    background-color: grey;
    grid-template-rows: 0.5fr 200px 2fr;
}
  
.footer {
    grid-area: footer;
}
  
.head {
    display: grid;
    grid-area: head;
    grid-template-columns: 40px 1fr 150px;
    grid-template-areas: "burg mid use"
}
  
  .burger {
    grid-area: burg;
    background-color: silver;
    position: relative;
    display: inline-block;
  }
  
  .burger i {
    margin: 7px;
  }
  
  .userPro {
    grid-area: use;
    background-color: silver;
  }
  
  .mid {
    grid-area: mid;
    background-color: grey;
  }
  
  .controlPane {
    display: grid;
    grid-row: 2;
    justify-content: center;
    grid-template-rows: repeat(5, 1fr);
  }
  
  .controlPane > a {
    text-align: center;
    display: block;
    text-decoration: none;
    padding: 10px;
    color: black;
  }
  
  .controlPane > a:hover {
    box-shadow: -3px 0 0 #000;
  }
  
  .mainBox {
    display: grid;
    margin: 10px 40px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(150px, 300px));
    grid-gap: 10px;
    padding: 10px;
  }

  .box {
    position: relative;
    background-color: bisque;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }

  /* .box:hover {
    box-shadow: 0px 4px 6px 0 rgba(0, 0, 0, 0.2);
  } */

  .box::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0px 10px 15px 0 rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 1000ms;
  }

  .box:hover::before {
    opacity: 1;
  }
  
  .lists {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 10px;
    grid-gap: 50px;
  }

  .list {
    display: grid;
    grid-template-rows: 20px 20px 1fr;
    background-color: beige;
    padding: 20px;
    border-collapse: collapse;
    border: 1px solid #ddd;
    font-size: 18px;
  }

  .list tr {
    border-bottom: 1px solid #ddd;
  }

  #allIng {
    grid-column: 2;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
    height: auto;
  }

  #userIng {
    grid-column: 3;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
    height: auto;
  }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.userPro:hover .dropdown-content {display: block;}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: grey;
}

.items tr:hover {
  background-color: grey;
}

.popup {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 5px;
}

#signIn {
  grid-row: 1;
}

.is-blurred {
  filter: blur(2px)
}

#userCred {
  margin: 10px;
  text-align: center;
}

.register {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
