/* CSS Variables */
:root{
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

body {
    background: #ccc;
    margin: 20px 50px;
    line-height: 1.4;
}

.navigation ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    grid-gap: 20px;
}

.navigation a {
    display: block;
    text-decoration: none;
    background: var(--primary);
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
}

.navigation a:hover {
    background: var(--dark);
    color: var(--primary);
}

.search {
    display: grid;
    justify-content: center;
    grid-gap: 10px;
}

.searchInput {
    width: 500px;
    align-self: center;
}

.btn {
    height: 45px;
    width: 300px;
    justify-self: center;
    box-shadow: var(--shadow);
    border: 0;
    text-decoration: none;
    text-transform: uppercase;
    background: var(--primary);
}